<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Каталог гаджетов магазина "Device"</title>
</head>
<body>
  //= section/header-inner.html
  <main class="page">
    <h1 class="page__title title">Моноподы для селфи</h1>
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="main.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="catalog.html">Каталог товаров</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link--current" title="Вы здесь">Моноподы для селфи</a>
      </li>
    </ul>
    <section class="page__filter filter">
      <h2 class="filter__title title-picking">Фильтр:</h2>
      <form class="filter__form" method="post" action="https://echo.htmlacademy.ru" oninput="show_price_min.value=price_min.value; show_price_max.value=price_max.value">
        <fieldset class="filter__group filter-price">
          <legend class="filter-price__subtitle subtitle-picking">Стоимость</legend>
          <label class="visually-hidden" for="price-min">Минимальная цена</label>
          <input class="visually-hidden" id="price-min" type="number" name="price_min" min="0" max="10000" step="100" value="0">
          <label class="visually-hidden" for="price-max">Максимальная цена</label>
          <input class="visually-hidden" id="price-max" type="number" name="price_max" min="0" max="10000" step="100" value="5000">
          <div class="filter-price__range range">
            <div class="range__scale">
              <div class="range__band">
                <div class="range__toggle range__toggle-min"></div>
                <div class="range__toggle range__toggle-max"></div>
              </div>
            </div>
          </div>
          <span class="filter-price__show-price">от <output for="price-min" name="show_price_min">0</output></span>
          <span class="filter-price__show-price">до <output for="price-max" name="show_price_max">5000</output></span>
        </fieldset>
        <input type="submit" value="Показать">
      </form>
    </section>
    <ul class="products">
      <li class="products__item">
        <h2 class="products__title">Любительская селфи-палка</h2>
        <img class="products__image" src="image/product_monopod-amateur.png" width="360" height="380" alt="Самая простая селфи-палка, ничего лишнего">
        <p class="products__price">500 руб.</p>
      </li>
      <li class="products__item">
        <h2 class="products__title">Профессиональная селфи-палка</h2>
        <img class="products__image" src="image/product_monopod-professional.png" width="360" height="380" alt="Селфи-палка обладающая широкими возможностями управления">
        <p class="products__price">1500 руб.</p>
      </li>
      <li class="products__item">
        <h2 class="products__title">Непотопляемая селфи-палка</h2>
        <img class="products__image" src="image/product_monopod-unsinkable.png" width="360" height="380" alt="Селфи-палка с поплавком">
        <p class="products__price">2500 руб.</p>
      </li>
      <li class="products__item">
        <h2 class="products__title">Селфи-палка «Следуй за мной»</h2>
        <img class="products__image" src="image/product_monopod-hand.png" width="360" height="380" alt="Селфи-палка в виде руки, которая будет ползать за вами">
        <p class="products__price">4900 руб.</p>
      </li>
    </ul>
  </main>
  //= section/footer-inner.html
</body>
</html>
