<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Каталог гаджетов магазина "Device"</title>
</head>
<body>
  //= section/header-inner.html
  <main class="page">
    <h1 class="page__title title">Моноподы для селфи</h1>
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="main.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="catalog.html">Каталог товаров</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link--current" title="Вы здесь">Моноподы для селфи</a>
      </li>
    </ul>
    <section class="page__filter filter">
      <h2 class="filter__title title-picking">Фильтр:</h2>
      <form class="filter__form" name="filter" method="post" action="https://echo.htmlacademy.ru" oninput="show_price_min.value=price_min.value; show_price_max.value=price_max.value">
        <fieldset class="filter__group filter-price">
          <legend class="filter-price__subtitle subtitle-picking">Стоимость</legend>
          <label class="visually-hidden" for="price-min">Минимальная цена</label>
          <input class="visually-hidden" id="price-min" type="number" name="price_min" min="0" max="10000" step="100" value="0">
          <label class="visually-hidden" for="price-max">Максимальная цена</label>
          <input class="visually-hidden" id="price-max" type="number" name="price_max" min="0" max="10000" step="100" value="5000">
          <div class="filter-price__range range">
            <div class="range__scale">
              <div class="range__band">
                <div class="range__toggle range__toggle-min"></div>
                <div class="range__toggle range__toggle-max"></div>
              </div>
            </div>
          </div>
          <span class="filter-price__show-price">от <output for="price-min" name="show_price_min">0</output></span>
          <span class="filter-price__show-price">до <output for="price-max" name="show_price_max">5000</output></span>
        </fieldset>
        <fieldset class="filter__group filter-color">
          <legend class="filter-color__subtitle subtitle-picking">Цвет</legend>
          <label class="filter-color__label">
            <input class="filter-color__input" type="checkbox" name="color-black" checked>
            Черный
          </label>
          <label class="filter-color__label">
            <input class="filter-color__input" type="checkbox" name="color-white">
            Белый
          </label>
          <label class="filter-color__label">
            <input class="filter-color__input" type="checkbox" name="color-blue" checked>
            Синий
          </label>
          <label class="filter-color__label">
            <input class="filter-color__input" type="checkbox" name="color-red" checked>
            Красный
          </label>
          <label class="filter-color__label">
            <input class="filter-color__input" type="checkbox" name="color-pink">
            Розовый
          </label>
        </fieldset>
        <fieldset class="filter__group filter-bluetooth">
          <legend class="filter-bluetooth__subtitle subtitle-picking"><span lang="en">Bluetooth</span></legend>
          <label class="filter-bluetooth__label">
            <input class="filter-bluetooth__input" type="radio" name="bluetooth" value="on" checked>
            Есть
          </label>
          <label class="filter-bluetooth__label">
            <input class="filter-bluetooth__input" type="radio" name="bluetooth" value="off">
            Нет
          </label>
        </fieldset>
        <input class="filter__button button" type="submit" value="Показать">
      </form>
    </section>
    <section class="page__sorting sorting">
      <h2 class="sorting__title title-picking">Сортировка:</h2>
      <form class="sorting__form" name="sorting">
        <fieldset class="sorting__group">
          <legend class="visually-hidden">Группирование</legend>
          <label class="sorting__label">
            <input class="sorting__input" type="radio" name="grouping" value="price" checked>
            По цене
          </label>
          <label class="sorting__label">
            <input class="sorting__input" type="radio" name="grouping" value="type">
            По типу
          </label>
          <label class="sorting__label">
            <input class="sorting__input" type="radio" name="grouping" value="popularity">
            По популярности
          </label>
        </fieldset>
        <fieldset class="sorting__group">
          <legend class="visually-hidden">Упорядочивание</legend>
          <label class="sorting__label">
            <input class="sorting__input" type="radio" name="regulation" value="ascending">
            По возрастанию
          </label>
          <label class="sorting__label">
            <input class="sorting__input" type="radio" name="regulation" value="descending" checked>
            По убыванию
          </label>
        </fieldset>
      </form>
    </section>
    <ul class="products">
      <li class="products__item">
        <h2 class="products__title">Любительская селфи-палка</h2>
        <img class="products__image" src="image/product_monopod-amateur.png" width="360" height="380" alt="Самая простая селфи-палка, ничего лишнего">
        <p class="products__price">500 руб.</p>
      </li>
      <li class="products__item">
        <h2 class="products__title">Профессиональная селфи-палка</h2>
        <img class="products__image" src="image/product_monopod-professional.png" width="360" height="380" alt="Селфи-палка обладающая широкими возможностями управления">
        <p class="products__price">1500 руб.</p>
      </li>
      <li class="products__item">
        <h2 class="products__title">Непотопляемая селфи-палка</h2>
        <img class="products__image" src="image/product_monopod-unsinkable.png" width="360" height="380" alt="Селфи-палка с поплавком">
        <p class="products__price">2500 руб.</p>
      </li>
      <li class="products__item">
        <h2 class="products__title">Селфи-палка «Следуй за мной»</h2>
        <img class="products__image" src="image/product_monopod-hand.png" width="360" height="380" alt="Селфи-палка в виде руки, которая будет ползать за вами">
        <p class="products__price">4900 руб.</p>
      </li>
    </ul>
  </main>
  //= section/footer-inner.html
</body>
</html>
