<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Магазин гаджетов "Device"</title>
</head>
<body>
  //= section/header-main.html
  <main>
    <h1 class="visually-hidden">Магазин гаджетов "Device"</h1>
    <section class="suggestion">
      <h2 class=suggestion-title>Лучшее предложение</h2>
      <ul class="suggestion__list">
        <li class="suggestion__item">
          <h3 class="visually-hedden">Самая длинная палка для селфи</h3>
          <img class="suggestion__image" src="img/product__longest-selfie-stick.png" alt="3 саммых длинных палки для селфи в сложенном состоянии">
          <b class="suggestion__lead-product">Делай селфи, как Бен Стиллер!</b>
          <p class="suggestion__description-product">Самая длинная палка для селфи доступна в нашем магазине. Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.</p>
          <table class="suggestion__table">
            <caption class="visually-hidden">Характеристики самой длинной палки для селфи</caption>
            <thead>
              <tr>
                <th class="suggestion__table-property">Длина палки</th>
                <th class="suggestion__table-property">Вес палки</th>
                <th class="suggestion__table-property">Материал</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="suggestion__table-value">8,5 м</td>
                <td class="suggestion__table-value">5 кг</td>
                <td class="suggestion__table-value">Карбон</td>
              </tr>
            </tbody>
          </table>
          <a clss="suggestion__button button" href="#">Подробнее</a>
        </li>
        <li class="suggestion__item">
          <h3 class="visually-hedden">Мотивирующий фитнес браслет</h3>
          <img class="suggestion__image" src="img/product__motivating-fitness-bracelet.png" alt="Чёрный фитнес браслет с надписью на экране - я вижу, что ты снова ешь">
          <b class="suggestion__lead-product">Худеем правильно!</b>
          <p class="suggestion__description-product">Мотивирующие фитнес-браслеты помогут найти в себе силы не пропускать занятия и соблюдать диету.</p>
          <table class="suggestion__table">
            <caption class="visually-hidden">Характеристики мотивирующего фитнес браслета</caption>
            <thead>
              <tr>
                <th class="suggestion__table-property">Без подзарядки</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="suggestion__table-value">48 часов</td>
              </tr>
            </tbody>
          </table>
          <a clss="suggestion__button button" href="#">Подробнее</a>
        </li>
        <li class="suggestion__item">
          <h3 class="visually-hedden">Квадракоптер с лазером</h3>
          <img class="suggestion__image" src="img/product__quadrocopter-laser.png" alt="Квадракоптер стреляющий лазером">
          <b class="suggestion__lead-product">Порхает как бабочка, жалит как пчела!</b>
          <p class="suggestion__description-product">Этот обычный, на первый взгляд, квадрокоптер оснащен мощным лазером, замаскированным под стандартную камеру.</p>
          <table class="suggestion__table">
            <caption class="visually-hidden">Характеристики квадракоптера с лазером</caption>
            <thead>
              <tr>
                <th class="suggestion__table-property">Дальность полета</th>
                <th class="suggestion__table-property">Радиус поражения</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="suggestion__table-value">800 м</td>
                <td class="suggestion__table-value">50 м</td>
              </tr>
            </tbody>
          </table>
          <a clss="suggestion__button button" href="#">Подробнее</a>
        </li>
      </ul>
    </section>
  </main>
  //= section/footer-main.html
</body>
</html>
