<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style/style.css">
  <title>Магазин гаджетов "Device"</title>
</head>
<body>
  //= section/header-main.html
  <main>
    <h1 class="visually-hidden">Магазин гаджетов "Device"</h1>
    <section class="suggestion">
      <h2 class="visually-hidden">Лучшее предложение</h2>
      <ul class="suggestion__list">
        <li class="suggestion__item">
          <h3 class="visually-hidden">Самая длинная палка для селфи</h3>
          <img class="suggestion__image" src="image/product_monopod-long.png" width="384" heigth="486" alt="Три палки для селфи длинной восемь метров в сложенном состоянии">
          <p class="suggestion__lead-product">
            <b class="suggestion__lead-product--cry">Делай селфи, как Бен Стиллер!</b>
          </p>
          <p class="suggestion__description-product">Самая длинная палка для селфи доступна в нашем магазине. Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.</p>
          <table class="suggestion__table">
            <caption class="visually-hidden">Характеристики товара</caption>
            <thead>
              <tr>
                <th class="suggestion__table-property" scope="col">Длина палки</th>
                <th class="suggestion__table-property" scope="col">Вес палки</th>
                <th class="suggestion__table-property" scope="col">Материал</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="suggestion__table-value">8,5 <abbr class="suggestion__table-abbreveature" title="метров">м</abbr></td>
                <td class="suggestion__table-value">5 <abbr class="suggestion__table-abbreveature" title="килограмм">кг</abbr></td>
                <td class="suggestion__table-value">Карбон</td>
              </tr>
            </tbody>
          </table>
          <a class="suggestion__link button" href="#">Подробнее</a>
        </li>
        <li class="suggestion__item">
          <h3 class="visually-hidden">Мотивирующий фитнес браслет</h3>
          <img class="suggestion__image" src="image/product_motivating-fitness-bracelet.png" width="345" height="485" alt="Чёрный фитнес браслет с надписью на экране: я вижу, что ты снова ешь😞">
          <p class="suggestion__lead-product">
            <b class="suggestion__lead-product--cry">Худеем правильно!</b>
          </p>
          <p class="suggestion__description-product">Мотивирующие фитнес-браслеты помогут найти в себе силы не пропускать занятия и соблюдать диету.</p>
          <table class="suggestion__table">
            <caption class="visually-hidden">Характеристики товара</caption>
            <thead>
              <tr>
                <th class="suggestion__table-property" scope="col">Без подзарядки</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="suggestion__table-value">48 часов</td>
              </tr>
            </tbody>
          </table>
          <a class="suggestion__link button" href="#">Подробнее</a>
        </li>
        <li class="suggestion__item">
          <h3 class="visually-hidden">Квадракоптер с лазером</h3>
          <img class="suggestion__image" src="image/product_quadrocopter-laser.png" width="526" height="334" alt="Квадракоптер стреляющий лазером">
          <p class="suggestion__lead-product">
            <b class="suggestion__lead-product--cry">Порхает как бабочка, жалит как пчела!</b>
          </p>
          <p class="suggestion__description-product">Этот обычный, на первый взгляд, квадрокоптер оснащен мощным лазером, замаскированным под стандартную камеру.</p>
          <table class="suggestion__table">
            <caption class="visually-hidden">Характеристики товара</caption>
            <thead>
              <tr>
                <th class="suggestion__table-property" scope="col">Дальность полета</th>
                <th class="suggestion__table-property" scope="col">Радиус поражения</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="suggestion__table-value">800 <abbr class="suggestion__table-abbreveature" title="метров">м</abbr></td>
                <td class="suggestion__table-value">50 <abbr class="suggestion__table-abbreveature" title="метров">м</abbr></td>
              </tr>
            </tbody>
          </table>
          <a class="suggestion__link button" href="#">Подробнее</a>
        </li>
      </ul>
    </section>
    <section class="contents-catalog">
      <h2 class="visually-hidden">Оглавление каталога</h2>
      <ul class="contents-catalog__list">
        <li class="contents-catalog__item">
          <a class="contents-catalog__link" href="#">Виртуальная реальность</a>
        </li>
        <li class="contents-catalog__item">
          <a class="contents-catalog__link" href="catalog.html">Моноподы для селфи</a>
        </li>
        <li class="contents-catalog__item">
          <a class="contents-catalog__link" href="#">Экшн-камеры</a>
        </li>
        <li class="contents-catalog__item">
          <a class="contents-catalog__link" href="#">Фитнес-браслеты</a>
        </li>
        <li class="contents-catalog__item">
          <a class="contents-catalog__link" href="#">Умные часы</a>
        </li>
        <li class="contents-catalog__item">
          <a class="contents-catalog__link" href="#">Квадракоптеры</a>
        </li>
      </ul>
    </section>
    <section class="services">
      <h2 class="visually-hidden">Услуги</h2>
      <ul class="services__list" role="tablist">
        <li class="services__item" role="presentation">
          <a class="services__link button" id="tab-service-delivery" role="tab" href="#service-delivery">Доставка</a>
        </li>
        <li class="services__item" role="presentation">
          <a class="services__link button" id="tab-service-guarantee" role="tab" href="#service-guarantee">Гарантия</a>
        </li>
        <li class="services__item" role="presentation">
          <a class="services__link button" id="tab-service-credit" role="tab" href="#service-credit">Кредит</a>
        </li>
      </ul>
      <div class="services__wrapper" id="service-delivery" role="tabpanel" aria-labelledby="tab-service-delivery">
        <h3 class="services__subtitle">Доставка</h3>
        <p class="services__description">Мы с удовольствием доставим ваш товар прямо к вашему подъезду совершенно бесплатно! Ведь мы неплохо заработаем, поднимая его на ваш этаж.</p>
      </div>
      <div class="services__wrapper" id="service-guarantee" role="tabpanel" aria-labelledby="tab-service-guarantee">
        <h3 class="services__subtitle">Гарантия</h3>
        <p class="services__description">Если из-за возгорания купленного у нас товара у вас сгорит дом — не переживайте, мы выдадим вам новый. Товар, не дом, конечно же.</p>
      </div>
      <div class="services__wrapper" id="service-credit" role="tabpanel" aria-labelledby="tab-service-credit">
        <h3 class="services__subtitle">Кредит</h3>
        <p class="services__description">Залезть в долговую яму стало проще! Кредитные консультанты подберут для вас наиболее выгодные условия кредита. Выгодные для нашего банка, разумеется.</p>
      </div>
    </section>
    <section class="partners">
      <h2 class="visually-hidden">Наши партнеры</h2>
      <ul class="partners__list">
        <li class="partners__item">
          <img class="partners__image" src="image/logo_dji.png" width="260" height="100" alt="Логотип Dji">
        </li>
        <li class="partners__item">
          <img class="partners__image" src="image/logo_sp-gadgets.png" width="260" height="100" alt="Логотип SP Gadgets">
        </li>
        <li class="partners__item">
          <img class="partners__image" src="image/logo_gopro.png" width="260" height="100" alt="Логотип GoPro">
        </li>
        <li class="partners__item">
          <img class="partners__image" src="image/logo_vive.png" width="260" height="100" alt="Логотип Vive">
        </li>
      </ul>
    </section>
    <section class="about-us">
      <h2 class="about-us__title">О нас</h2>
      <p class="about-us__description">Огромный выбор гаджетов не оставит равнодушным гика, который есть в каждом из нас.</p>
      <p class="about-us__description">Мы можем доставить ваш товар в самые отдаленные точки России! DEVICE работает со многими транспортными компаниями:</p>
      <ul class="about-us__list">
        <li class="about-us__item">Деловые Линии</li>
        <li class="about-us__item">Автотрейдинг</li>
        <li class="about-us__item">ЖелДорЭкспедиция</li>
      </ul>
      <a href="#" class="about-us__link button">Подробнее о нас</a>
    </section>
    <section class="contacts">
      <h2 class="contacts__title">Контакты</h2>
      <p class="contacts__description">Вы можете забрать товар сами, заехав в наш офис. Заодно, вы сможете проверить работоспособность покупки. Всякое бывает.</p>
      <img class="contacts__image" src="image/map-small.png" width="560" height="222" alt="Местонахождение магазина по адрессу: улица Строителей, дом 15">
      <a href="#form-communication" class="contacts_link button">Напишите нам</a>
    </section>
  </main>
  //= section/footer-main.html
  <p class="map modal">
    <img class="map__image" src="image/map-big.png" width="990" height="589" alt="">
    <button class="map__button-close button-close" type="button"><span class="visually-hidden">Закрыть</span></button>
  </p>
  <section class="communication modal" id="form-communication">
    <h2 class="visually-hidden">Форма обратной связи</h2>
    <form class="communication__form" method="post" action="https://echo.htmlacademy.ru">
      <p class="communication__wrapper">
        <label class="communication__label" for="name">Ваше имя:</label>
        <input class="communication__input" id="name" type="text" name="name" placeholder="Имя Фамилия" required>
      </p>
      <p class="communication__wrapper">
        <label class="communication__label" for="email">Ваш <span lang="en">e-mail<span>:</label>
        <input class="communication__input" id="email" type="email" name="email" placeholder="email@example.com" required>
      </p>
      <p class="communication__wrapper">
        <label class="communication__label" for="letter">Текст письма:</label>
        <textarea class="communication__input" id="letter" name="letter" placeholder="В свободной форме"></textarea>
      </p>
      <input class="communication__button button" type="submit" value="Отправить">
      <button class="communication__button-close button-close" type="button"><span class="visually-hidden">Закрыть</span></button>
    </form>
  </section>
</body>
</html>
