<footer class="page-footer">
  <a class="page-footer__logo-device logo-device">
    <img class="logo-device__image" src="image/logo-device.svg" width="164" height="36" alt="Логотип Device">
  </a>
  <ul class="page-footer__list navigation-user">
    <li class="navigation-user__item">
      <a class="navigation-user__link" href="#">Войти</a>
    </li>
  </ul>
  <ul class="page-footer__list navigation-buy">
    <li class="navigation-buy__item">
      <a class="navigation-buy__link" href="#">Сравнить</a>
    </li>
    <li class="navigation-buy__item">
      <a class="navigation-buy__link" href="#">Корзина</a>
    </li>
  </ul>
  <address class="page-footer__address address">г. Москва, ул. Строителей, 15</address>
  <ul class="page-footer__list navigation-site">
    <li class="navigation-site__item">
      <a class="navigation-site__link" href="#">Доставка</a>
    </li>
    <li class="navigation-site__item">
      <a class="navigation-site__link" href="#">Гарантия</a>
    </li>
    <li class="navigation-site__item">
      <a class="navigation-site__link" href="#">Контакты</a>
    </li>
  </ul>
  <address class="page-footer__address address">+7 (495) 495-95-95</address>
</footer>
