<footer class="page-footer">
  <p class="page-footer__logo-device logo-device">Device</p>
  <ul class="page-footer__list navigation-user">
    <li class="navigation-user__item">
      <a class="navigation-user__link" href="#">Войти</a>
    </li>
  </ul>
  <ul class="page-footer__list navigation-buy">
    <li class="navigation-buy__item">
      <a class="navigation-buy__link" href="#">Сравнить</a>
    </li>
    <li class="navigation-buy__item">
      <a class="navigation-buy__link" href="#">Корзина</a>
    </li>
  </ul>
  <address class="page-footer__address address">г. Москва, ул. Строителей, 15</address>
  <ul class="page-footer__list navigation-site">
    <li class="navigation-site__item">
      <a class="navigation-site__link" href="#">Доставка</a>
    </li>
    <li class="navigation-site__item">
      <a class="navigation-site__link" href="#">Гарантия</a>
    </li>
    <li class="navigation-site__item">
      <a class="navigation-site__link" href="#">Контакты</a>
    </li>
  </ul>
  <address class="page-footer__address address">+7 (495) 495-95-95</address>
  <ul class="page-footer__list list-social">
    <li class="list-social__item">
      <a class="list-social__link list-social__link--facebook" href="#">
        <span class="visually-hidden">Device в Facebook</span>
      </a>
    </li>
    <li class="list-social__item">
      <a class="list-social__link list-social__link--instagram" href="#">
        <span class="visually-hidden">Device в Instagram</span>
      </a>
    </li>
    <li class="list-social__item">
      <a class="list-social__link list-social__link--twitter" href="#">
        <span class="visually-hidden">Device в Twitter</span>
      </a>
    </li>
  </ul>
  <a class="page-footer__copyright copyright" href="https://htmlacademy.ru/intensive/htmlcss">
    <span class="visually-hidden">Сделано в HTML Academy</span>
  </a>
</footer>
