<header class="header-page">
  <nav class="navigation-main">
    <a class="navigation-main__logo-link logo-device">
      <img class="logo-device__image" src="image/logo-device.svg" width="164" height="36" alt="Логотип Device">
    </a>
    <form class="navigation-main__form form-search" method="get" action="https://echo.htmlacademy.ru">
      <label class="visually-hidden" for="search-site">Поиск по сайту</label>
      <input id="search-site" type="search" name="search-site" placeholder="Поиск по сайту">
    </form>
  </nav>
</header>
