body {
  // font-weight: 300; скорее всего лишнее
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  letter-spacing: 0.01em;
  color: #000000;
}

a {
  color: inherit;

  text-decoration-line: none;
}
