.button {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;

  text-decoration-line: none;
}
