.contacts__title {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  letter-spacing: 0.01em;
  color: #000000;
}

.contacts__description {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  color: #464646;
}
