.contents-catalog {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  letter-spacing: 0.01em;
  color: #000000;
}

.contents-catalog__list {
  list-style: none;
}

.contents-catalog__link {
  color: inherit;

  text-decoration-line: none;
}

.contents-catalog__link:active {
  opacity: 0.3;
}
