.logo-device {
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy";
  letter-spacing: 0.01em;
  text-transform: uppercase;

  background-color: transparent;
}

.logo-device--light {
  color: #000000;
}

.logo-device--dark {
  color: #ffc600;
}

.logo-device[href]:hover {
  opacity: 0.6;

  cursor: pointer;
}

.logo-device[href]:active {
  opacity: 0.3;
}
