.navigation-site {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  text-transform: uppercase;
  letter-spacing: 0.2em;

  list-style: none;
}

.navigation-site--light {
  color: #000000;

  background-color: #f8e297;
}

.navigation-site--dark {
  color: #ffffff;

  background-color: #464646;
}

.navigation-site__catalog-list {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans";
  text-transform: none;
  letter-spacing: 0.01em;

  list-style: none;
}

.navigation-site__link {
  color: inherit;

  text-decoration-line: none;
}

.navigation-site__link:hover {
  opacity: 0.6;

  cursor: pointer;
}

.navigation-site__link:active {
  opacity: 0.3;
}

.navigation-site__link-current {
  color: inherit;
  opacity: 0.3;

  text-decoration-line: none;
}
