.navigation-user {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  letter-spacing: 0.01em;
  color: #000000;

  background-color: #f7e296;
  list-style: none;
}
.navigation-user__link {
  color: inherit;

  text-decoration-line: none;
}
