.navigation-buy {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  letter-spacing: 0.01em;

  list-style: none;
}

.navigation-buy--light {
  color: #000000;

  background-color: #f8e297;
}

.navigation-buy--dark {
  color: #ffffff;

  background-color: #464646;
}

.navigation-buy__link {
  color: inherit;

  text-decoration-line: none;
}

.navigation-buy__link--light {
  color: inherit;
}

.navigation-buy__link--light:hover {
  opacity: 0.6;

  cursor: pointer;
}

.navigation-buy__link--light:active {
  opacity: 0.3;
}

.navigation-buy__link--dark {
  opacity: 0.7;
}

.navigation-buy__link--dark:hover {
  opacity: 1;

  cursor: pointer;
}

.navigation-buy__link--dark:active {
  opacity: 0.3;
}
