.services {
  background-color: #e5e5e5;
}

.services__list {
  list-style: none;
}

.services__description {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  letter-spacing: 0.01em;
  color: #464646;
}
